.Server {
    background-color:rgba(255, 255, 255, 0.048);
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    color: white;
    border-color: darkgoldenrod;
    justify-self: center;
}

.Col {
    align-self: center;
}

.Intro {
        border-radius: 2px;
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: center;
        color: white;
        border-color: darkgoldenrod;
}